<!DOCTYPE html>
<html>
<head>
    <title><%= classes.name %></title>
    <link rel="stylesheet" type="text/css" href="./css/aula_page_style.css">
    <link rel="icon" href="./images/bro_icon.png">
</head>
<body>
<%- include ../navbar.ejs %>

<div class='info-box'>
    <h2><%= classes.name %></h2>
    <p><%= classes.description %></p>
</div>
<div class='info-box'>
    <iframe width="560" height="315" src="<%= classes.url %>" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
</div>

<script type="text/javascript">
    function sendToResearch() {
        console.log("yo")
        let data = document.getElementById("toSearch").value;
        if (data == '')
            return;
        let url = "http://localhost:8080/courses/" + data;
        window.location.href = url;
    }
</script>

</body>
</html>
