<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Python 3 Megacourse</title>
    <link rel="stylesheet" type="text/css" href="course_style.css">
    <link rel="icon" href="/Users/lucasabbade/Desktop/Inatel/EC206/brodemy/app/public/images/bro_icon.png">
</head>
<body>

<div id="header">
    <div id="top-bar">
        <!--Main logo of website-->
        <div class="logo">
            <img src="/Users/lucasabbade/Desktop/Inatel/EC206/brodemy/app/public/images/logo_horizontal.png"
                 alt="brodemy" title="brodemy logo" width="100">
        </div>

        <!--Main maineu of website-->
        <div class="main-menu">
            <ul>
                <li>Catálogo
                    <ul class="sub-menu">
                        <li>Software
                            <ul class="sub-menu-1">
                                <li>C++</li>
                                <li>Java</li>
                                <li>Python</li>
                                <li>Javascript</li>
                                <li>BIRL</li>

                            </ul>
                        </li>
                        <li>Banco De Dados
                            <ul class="sub-menu-1">
                                <li>MySQL</li>
                                <li>PostgreSQL</li>
                                <li>MongoDB</li>
                            </ul>
                        </li>
                        <li>Engenharia
                            <ul class="sub-menu-1">
                                <li>Cálculo</li>
                                <li>Física</li>
                                <li>Eletrônica</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--search bar of website-->
        <div class="search-box">
            <input type="text" placeholder="Buscar">
            <input id="search-button" class="top-bar-btn" type="button" name="search-btn" value="Buscar">
            <input class="top-bar-btn" type="button" name="account-btn" value="Minha Conta">
            <input class="top-bar-btn" type="button" name="courses-btn" value="Meus Cursos">
        </div>
    </div>
</div>

<div class="course-header">
    <div class="course-img">
        <img src="https://udemy-images.udemy.com/course/480x270/625204_436a_2.jpg">
    </div>
    <div class="course-content">
        <h1><%= courses[0].title %></h1>
        <p><%= courses[0].description %></p>
    </div>
</div>



<% for(let i =0;i<classes.length; i++){%>
<div class="class-display" onclick="window.location='/course/<%= courses._id %>/<%=classes.name%>'">
    <h3><%=classes.name%></h3>
    <p><%=classes.description%></p>
</div>
<%}%>

</body>
</html>
