<!DOCTYPE html>
<html>
<head>
    <title><%= course.name %></title>
    <link rel="stylesheet" type="text/css" href="../../css/course_style.css">
    <link rel="icon" href="../images/bro_icon.png">
</head>
<body>
<%- include ../navbar2.ejs %>

<div class="course-header">
    <div class="course-img">
        <img src="<%= course.image_src %>" width="480" height="270">
    </div>
    <div class="course-content">
        <h1><%= course.name %></h1>
        <p><%= course.description %></p>
    </div>
    <%= console.log(user._id) %>
    <%= console.log(course.instructor_id) %>
    <% if(user._id == course.instructor_id){ %>
    <button id="add-btn" class="std-btn" onclick="window.location='/register_class/<%= course._id %>'">Adicionar Aula</button>
    <button id="edit-btn" class="std-btn">Editar Curso</button>
    <button id="delete-btn" class="std-btn">Deletar Curso</button>
    <% }else{ %>
    <form action="/register_on_course/<%= course._id %> %>" method="post">
        <button class="top-bar-btn" id="course-action-button" type="submit">Inscreva-se neste curso</button>
    </form>
    <% } %>
</div>
<% for(let i = 0;i < course.classes.length; i++){ %>
<div class="class-display" onclick="window.location.href='http://localhost:8080/course/<%= course._id %>/<%= course.classes[i].name %>'">
    <h3><%= course.classes[i].name %></h3>
    <p><%= course.classes[i].description %></p>
    <p id="class-duration">Duração da aula: <%= course.classes[i].duration %> minutos.</p>
</div>
<% } %>
<% if(!course.classes.length){ %>
<div class="info-box">
    <p id='no-courses-error'><strong>Nenhuma aula encontrada</strong></p>
</div>
<% } %>
</body>
</html>
