<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Python 3 Megacourse</title>
    <link rel="stylesheet" type="text/css" href="../../css/course_style.css">
    <link rel="icon" href="../../images/bro_icon.png">
</head>
<body>

<div id="header">
    <div id="top-bar">
        <!--Main logo of website-->
        <div class="logo">
            <img src="../../images/logo_horizontal.png"
                 alt="brodemy" title="brodemy logo" width="100">
        </div>

        <!--Main maineu of website-->
        <div class="main-menu">
            <ul>
                <li>Catálogo
                    <ul class="sub-menu">
                        <li>Software
                            <ul class="sub-menu-1">
                                <li>C++</li>
                                <li>Java</li>
                                <li>Python</li>
                                <li>Javascript</li>
                                <li>BIRL</li>

                            </ul>
                        </li>
                        <li>Banco De Dados
                            <ul class="sub-menu-1">
                                <li>MySQL</li>
                                <li>PostgreSQL</li>
                                <li>MongoDB</li>
                            </ul>
                        </li>
                        <li>Engenharia
                            <ul class="sub-menu-1">
                                <li>Cálculo</li>
                                <li>Física</li>
                                <li>Eletrônica</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--search bar of website-->
        <div class="search-box">
            <input type="text" placeholder="Buscar">
            <input id="search-button" class="top-bar-btn" type="button" name="search-btn" value="Buscar">
            <input class="top-bar-btn" type="button" name="account-btn" value="Minha Conta">
            <input class="top-bar-btn" type="button" name="courses-btn" value="Meus Cursos">
        </div>
    </div>
</div>

<div class="course-header">
    <div class="course-img">
        <img src="<%= course.image_src %>" width="480" height="270">
    </div>
    <div class="course-content">
        <h1><%= course.name %></h1>
        <p><%= course.description %></p>
    </div>

    <% if(user._id === course.instrutor_id){ %>
    <button>Editar Curso</button>
    <button>delete Curso</button>
    <button onclick="window.location='/register_class/<%= course._id %>'">adicionar Aula</button>
    <% }else{ %>
    <form action="/register_on_course/<%= course._id %> %>" method="post">
        <button class="top-bar-btn" id="course-action-button" type="submit">inscrever-se neste curso</button>
    </form>
    <% } %>
</div>
<% for(let i = 0;i < course.classes.length; i++){ %>
<div class="class-display" onclick="window.location='/course/<%= course._id %>/<%= course.classes[i].name %>'">
    <h3><%= course.classes[i].name %></h3>
    <p><%= course.classes[i].description %></p>
</div>
<% } %>
<% if(!course.classes.length){ %>
<div class="info-box">
    <p id='no-courses-error'><strong>Nenhuma aula encontrada</strong></p>
</div>
<% } %>
</body>
</html>
