<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="../css/register_user_style.css">
    <link rel="icon" href="./images/bro_icon.png">
</head>
<%- include ./../navbar2.ejs %>
<body>
<div class="info-box">
    <form action="/register_user" method="post">
        <div class="row">
            <i class="material-icons prefix">email</i>
            <label class="input-label">E-mail:
                <input class="text-input-single-line" name="email" type="email"
                       value="<%= student.email %>" required>
            </label>
        </div>
        <div class="row">
            <i class="material-icons prefix">account_circle</i>
            <label class="input-label">Nome:
                <input class="text-input-single-line" name="name" type="text"
                       value="<%= student.name %>" required>
            </label>
        </div>
        <div class="row">
            <i class="material-icons prefix">vpn_key</i>
            <label class="input-label">Senha:
                <input class="text-input-single-line" name="password" type="password"
                       value="<%= student.password %>" minlength="5" maxlength="20" required>
            </label>
        </div>
        <div class="row">
            <button type="submit" class="std-btn">Cadastrar</button>
        </div>
    </form>
    <div class="row">
        <p>Já tem uma conta? <a href="/login">Fazer Login</a></p>
    </div>
</div>

<% if(validacao.length > 0){ %>
<div class="info-box">
    <p id="no-courses-error"><strong><%= validacao[0].msg %></strong></p>
</div>
<% } %>

</body>
</html>
