<!DOCTYPE html>
<html>
<head>
    <title>BRODemy</title>
    <link rel="stylesheet" type="text/css" href="./css/main_style.css">
    <link rel="icon" href="./images/bro_icon.png">
</head>
<body>
<%- include navbar.ejs %>
<% if(courses.length > 0){ %>
<% for(var i = 0; i < courses.length; i++) { %>
<div class="course-display" onclick="window.location='/course/<%= courses[i]._id; %>'">
    <div class="course-img">
        <img src="<%= courses[i].image_src %>" height="135" width="240">
    </div>
    <div class="course-content">
        <h3 id="course-title"><%= courses[i].title %></h3>
        <p><%= courses[i].description %></p>
    </div>
</div>
<% } %>
<% }else { %>
<div class="info-box">
    <p id='no-courses-error'><strong>Nenhum curso encontrado</strong></p>
</div>
<% } %>

<script type="text/javascript">
    function sendToResearch() {
        console.log("yo")
        let data = document.getElementById("toSearch").value;
        if (data == '')
            return;
        let url = "http://localhost:8080/courses/" + data;
        window.location.href = url;
    }
</script>

</body>
</html>
