<!DOCTYPE html>
<html>
<head>
    <title>Meus Cursos</title>
    <link rel="stylesheet" type="text/css" href="./css/main_style.css">
    <link rel="icon" href="./images/bro_icon.png">
</head>
<body>
<%- include ../navbar.ejs %>

<% if(manage){ %>
<div class="info-box">
    <div class="row">
        <input type="button" class="std-btn" id="add-btn" value="Criar Curso"
               onclick="window.location='/register_course';">
    </div>
</div>
<% } %>

<% if(inform.length > 0){ %>
<% for(var i = 0; i < inform.length; i++) { %>

<div class="course-display" onclick="window.location='/course/<%= inform[i]._id; %>'">
    <div class="course-img">
        <img src="<%= inform[i].image_src %>" height="135" width="240">
    </div>
    <div class="course-content">
        <h3 id="course-title"><%= inform[i].name %></h3>
        <p><%= inform[i].description %></p>
    </div>
</div>
<% } %>
<% }else { %>
<div class="info-box">
    <p id='no-courses-error'><strong>Nenhum curso encontrado</strong></p>
</div>
<% } %>

</body>
</html>
